@model List<User>
@{
    int count = 1;
}
<div class="card">
    <div class="card-header">
        <h5>Basic Table</h5>
        <span>use class <code>table</code> inside table element</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.UserName</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info waves-effect waves-light">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger waves-effect waves-light">Delete</a>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>