@model IEnumerable<BusinessTitle>
@if (TempData["Create"] != null)
{
    if ((bool)TempData["Create"] == true)
    {
        <input type="hidden" id="createSuccess" />
    }
    else
    {
        <input type="hidden" id="createError" />

    }
}
@if (TempData["Edit"] != null)
{
    if ((bool)TempData["Edit"] == true)
    {
        <input type="hidden" id="editSuccess" />
    }
    else
    {
        <input type="hidden" id="editError" />

    }
}
@if (TempData["Delete"] != null)
{
    if ((bool)TempData["Delete"] == true)
    {
        <input type="hidden" id="deleteSuccess" />
    }
    else
    {
        <input type="hidden" id="deleteError" />

    }
}
<div class="alert alert-primary" role="alert">
  BusinessTitles
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                BusinessAreas Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/assets/images/BusinessTitle/@item.Image"
                         alt="@item.Name" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <ol>
                    @foreach (var area in item.BusinessAreas)
                    {
                        <li> @area.Name</li>
                    }
                    </ol>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="mt-3 d-flex justify-content-center" aria-label="...">
    <ul class="pagination">
        <li class="page-item  @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" tabindex="-1">Previous</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="page-item @(i==ViewBag.CurrentPage ? "active pointerNone" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

        <li class="page-item @(ViewBag.TotalPage == ViewBag.CurrentPage ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
        </li>
    </ul>
</nav>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ($("#createSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 BusinessTitle  Is 'created' ")
            }
            else if ($("#createError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#editSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 BusinessTitle Is 'Edited' ")
            }
            else if ($("#editError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#deleteSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 BusinessTitle Is 'Deleted' ")
            }
            else if ($("#deleteError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
}