@{
    ViewBag.Title = "Liked page";
    Dictionary<string, string> setting = ViewBag.Setting;
    List<Company> companies = ViewBag.Company;

}

@model List<WishList>

<section id="liked">
    <section id="titles_and_bgblue">
        <div class="blueback"></div>
        <div class="container">
            <div class="row">
                <div class="titles col-lg-12 col-md-12">
                    <div class="two_side_bridge">
                        <h3>Seçilmişlər</h3>
                        <ul>
                            <li>
                                <a asp-controller="home" asp-action="index">Əsas səhifə </a>
                            </li>
                            <li>
                                <a asp-controller="liked" asp-action="index">Bəyəndiklərim</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section id="base">
    <div class="liked_cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 ">
                    <div class="title">
                        <a style="cursor: pointer;" class="vacancy-link">Vakansiyalar</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 ">
                    <div class="title">
                        <a style="cursor: pointer;" class="cv-link">CV-lər</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="vacans_cv">
    <div class="likedVacans">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="liked_vacans">
                        <div class="vacancies">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @foreach (var wishlist in Model)
                                {
                                    @foreach (var item in wishlist.WishListItems)
                                    {

                                        @if (item.Vacans is not null)
                                        {
                                            <div class="vacancies_href">
                                                <a asp-controller="company" asp-action="vacansdetail" asp-route-id="@item.Vacans.Id">
                                                    <div class="item_left">
                                                        <div class="icon" style="width: 58px !important; height: auto !important">
                                                            <img style="width: 100%; object-fit: contain;" src="~/assets/images/BusinessTitle/@item.Vacans.BusinessArea.BusinessTitle.Image" alt="@item.Vacans.Company.Name" />
                                                        </div>
                                                        <div class="title">
                                                            <h3 style="position: inherit !important;">@item.Vacans.Position</h3>
                                                            <p>@item.Vacans.BusinessArea.Name</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="item_right">
                                                    <span class="salary">@(item.Vacans.Salary == 0 ? "Ə-h razılaşma ilə" : item.Vacans.Salary) (AZN)</span>
                                                    <span class="date">@item.Vacans.CreatedAt.ToString("dd.MM")</span>
                                                    <span class="like">
                                                        <a class="like-button" data-item-id="@item.Vacans.Id" data-item-type="Vacans">
                                                            <i class="fa-regular fa-heart unliked"></i>
                                                        </a>
                                                        <a class="unliked-button" data-item-id="@item.Vacans.Id" data-item-type="Vacans">
                                                            <i class="fa-solid fa-heart liked deletedvacans @(item.Vacans.WishListItems.Any(w => w.WishList.User.UserName == User.Identity.Name && w.IsLiked == true) ? "hidden" : "")"></i>
                                                        </a>

                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="liked_cv">
                        <div class="vacancies">
                                @if (User.Identity.IsAuthenticated)
                            {
                                @foreach (var wishlist in Model)
                                {
                                    @foreach (var item in wishlist.WishListItems)
                                    {

                                        @if (item.Cv is not null)
                                        {
                                            <div id="userBlocks" class="user_block">
                                                <a asp-controller="cvpage" asp-action="detail" asp-route-id="@item.Cv.Id" target="_blank">
                                                    <div class="header_user">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="user_img">
                                                                <img src="~/assets/images/User/@item.Cv.Image" alt="">
                                                            </div>
                                                            <div class="d-flex justify-content-between w-100">
                                                                <div class="user_desc">
                                                                    <h3 class="profession">@item.Cv.Position</h3>

                                                                    <p class="fullname">@string.Concat(item.Cv.Name," ",item.Cv.Surname)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="user_options" style="justify-content:space-around !important">
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img src="~/assets/images/@setting["UserOperatingModeIcon"]"
                alt="" />
                                                            </div>
                                                            <div class="text">
                                                                <h4>@item.Cv.OperatingMode.Name</h4>
                                                                <p>İş rejimi</p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img src="~/assets/images/@setting["SalaryIcon"]"
                alt="" />
                                                            </div>
                                                            <div class="text">
                                                                <h4>@(
                                                            item.Cv.Salary == 0 ? "Ə-h razılaşma ilə" : item.Cv.Salary
                                                            ) (AZN)</h4>
                                                                <p>Minimum əmək haqqı</p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="icon">
                                                                <img src="~/assets/images/@setting["ExperienceIcon"]"
                alt="" />
                                                            </div>
                                                            <div class="text">
                                                                <h4>@item.Cv.Experience.Name</h4>
                                                                <p>İş staji</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </a>
                                                <div class="hearts">
                                                    <span class="like">
                                                        <a class="like-button" data-item-id="@item.Cv.Id" data-item-type="Cv">
                                                            <i class="fa-regular fa-heart unliked"></i>
                                                        </a>
                                                        <a class="unliked-button" data-item-id="@item.Cv.Id" data-item-type="Cv">
                                                            <i class="fa-solid fa-heart liked deletedcv @(item.Cv.WishListItems.Any(w => w.WishList.User.UserName == User.Identity.Name && w.IsLiked == true) ? "hidden" : "")"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sticky_element">
                        <div class="reclams">
                            <img src="https://www.hellojob.az/uploads/banners/2023/05/01/kapital-bank-banner-644f848092e7a-9bb97ce3487c22cc702dcd5e0ccb309f644f848092e8e-aryZtKUi6v_De5r.jpg" alt="">
                        </div>
                        <div class="companies">

                            @foreach (Company item in companies)
                            {
                                <div class="company">
                                    <a asp-controller="company" asp-action="detail" asp-route-id="@item.Id" class="full">
                                        <div>
                                            <div class="company_images" style="padding:0px !important; position:static !important;">
                                                <div class="image" style="
                                                                  height: 70px;
                                                                   display: flex;
                                                                   justify-content: center;">

                                                    <img src="~/assets/images/Company/@item.Image"
                                                         alt="@item.Name" />
                                                </div>
                                            </div>
                                            <p style="
                                             display: flex;
                                     justify-content: center;
                                                ">@item.Name</p>
                                            <p>Vakansiya sayı <span>@item.Vacans.Count()</span> </p>
                                        </div>
                                    </a>
                                </div>

                            }

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


@section Script{
    <script src="~/assets/js/liked.js"></script>
}