@model IEnumerable<Cv>
@if (TempData["CVaccepted"] != null)
{
    if ((bool)TempData["CVaccepted"] == true)
    {
        <input type="hidden" id="acceptedSuccess" />
    }
    else
    {
        <input type="hidden" id="acceptedError" />

    }
}
@if (TempData["CVrejected"] != null)
{
    if ((bool)TempData["CVrejected"] == true)
    {
        <input type="hidden" id="rejectedSuccess" />
    }
    else
    {
        <input type="hidden" id="rejectedError" />

    }
}
@if (TempData["Delete"] != null)
{
    if ((bool)TempData["Delete"] == true)
    {
        <input type="hidden" id="deleteSuccess" />
    }
    else
    {
        <input type="hidden" id="deleteError" />

    }
}
<div class="alert alert-primary" role="alert">
   Cvs
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="overflow:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
               Cv Email
            </th>
            <th>
             USer Email
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvPDF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <div class="user_img">
                        <img style="width:100%;;object-fit:contain;" src="~/assets/images/User/@item.Image" alt="">
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                    @(item.Salary == 0 ? "Ə-h razılaşma ilə" : item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CvPDF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    <a asp-action="Accept" asp-route-id="@item.Id">Accept</a> |
                    <a asp-action="Reject" asp-route-id="@item.Id">Reject</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
<nav class="mt-3 d-flex justify-content-center" aria-label="...">
    <ul class="pagination">
        <li class="page-item  @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" tabindex="-1">Previous</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="page-item @(i==ViewBag.CurrentPage ? "active pointerNone" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

        <li class="page-item @(ViewBag.TotalPage == ViewBag.CurrentPage ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
        </li>
    </ul>
</nav>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ($("#acceptedSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 Cv Status Changed Is 'accepted' ")
            }
            else if ($("#acceptedError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#rejectedSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 Cv Status Changed Is 'Rejected' ")
            }
            else if ($("#rejectedError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#deleteSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 Cv 'deleted' ")
            }
            else if ($("#deleteError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
}