@model List<Cv>
<div class="col-lg-12 ">
   @foreach (var item in Model)
    {
        <div class="user_block">
            <a href="./userdetail.html" target="_blank">
                <div class="header_user">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user_img">
                            <img src="~/assets/images/User/@item.Image"
                                 alt="" />
                        </div>
                        <div class="d-flex justify-content-between w-100">
                            <div class="user_desc">
                                <h3 class="profession">
                                    @item.Position
                                </h3>

                                <p class="fullname">@item.Name @item.Surname</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user_options" style="justify-content:space-around !important">
                    <div class="item">
                        <div class="icon">
                            <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/user-clock.svg"
                                 alt="" />
                        </div>
                        <div class="text">
                            <h4>@item.OperatingMode.Name</h4>
                            <p>İş rejimi</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/money.svg"
                                 alt="" />
                        </div>
                        <div class="text">
                            <h4>@(item.Salary == 0 ? "Ə-h razılaşma ilə" : item.Salary) (AZN)</h4>
                            <p>Minimum əmək haqqı </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="https://www.hellojob.az/content/assets/images/resume/svg-icons/briefcase.svg"
                                 alt="" />
                        </div>
                        <div class="text">
                            <h4>@item.Experience.Name</h4>
                            <p>İş staji</p>
                        </div>
                    </div>
                </div>
            </a>
            <div class="user_buttons">
                <a asp-controller="myaccount" asp-action="EditCV" asp-route-id="@item.Id" class="edited btn">
                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/edit.svg"
                         alt="" />
                    <span>Redaktə et</span>
                </a>
                <a class="deleted btn" asp-controller="myaccount" asp-action="deleteCV" asp-route-id="@item.Id" style="
    border-radius: 10px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: #F4F6F9;
    color: black;
    font-weight: 500;
">
                    <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/delete.svg"
                         alt="" />
                    <span>Sil</span>
                </a>
            </div>
        </div>
    }
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @if (ViewBag.TotalPage <= 5)
            {
                @for (int i = 1; i <= (int)ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            else
            {
                @if (ViewBag.CurrentPage <= 3)
                {
                    for (int i = 1; i <= 5; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage">@ViewBag.TotalPage</a>
                    </li>
                }
                else if (ViewBag.CurrentPage >= (int)ViewBag.TotalPage - 2)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                    for (int i = (int)ViewBag.TotalPage - 4; i <= (int)ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                    for (int i = ViewBag.CurrentPage - 2; i <= ViewBag.CurrentPage + 2; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage">@ViewBag.TotalPage</a>
                    </li>
                }
            }

            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>