@model List<Vacans>

@foreach (Vacans vacans in Model)
{
    <div class="vacancies">
        <div class="vacancies_href">
            <a asp-controller="company" asp-action="vacansdetail" asp-route-id="@vacans.Id">
                <div class="item_left">
                    <div class="icon" style="width: 58px !important; height: auto !important">
                        <img style="width: 100%; object-fit: contain;" src="~/assets/images/BusinessTitle/@vacans.BusinessArea.BusinessTitle.Image" alt="@vacans.Company.Name" />
                    </div>
                    <div class="title">
                        <h3 style="position: inherit !important;">@vacans.Position</h3>
                        <p>@vacans.BusinessArea.Name</p>
                    </div>
                </div>
            </a>
            <div class="item_right">
                <span class="salary">@(vacans.Salary == 0 ? "Ə-h razılaşma ilə" : vacans.Salary) (AZN)</span>
                <span class="date">@vacans.CreatedAt.ToString("dd.MM")</span>
                <span class="like">
                    <a class="like-button" data-item-id="@vacans.Id" data-item-type="Vacans">
                        <i class="fa-regular fa-heart unliked"></i>
                    </a>
                    <a class="unliked-button" data-item-id="@vacans.Id" data-item-type="Vacans">
                        <i class="fa-solid fa-heart liked @(vacans.WishListItems.Any(w => w.WishList.User.UserName == User.Identity.Name && w.IsLiked == true) ? "hidden" : "")"></i>
                    </a>

                </span>
            </div>
        </div>
    </div>
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item  @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="page-item @(i==ViewBag.CurrentPage ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
             </li>

        }
      
        <li class="page-item  @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
