@model IEnumerable<Company>

@if (TempData["CompanyAccepted"] != null)
{
    if ((bool)TempData["CompanyAccepted"] == true)
    {
        <input type="hidden" id="acceptedSuccess" />
    }
    else
    {
        <input type="hidden" id="acceptedError" />

    }
}
@if (TempData["CompanyReject"] != null)
{
    if ((bool)TempData["CompanyReject"] == true)
    {
        <input type="hidden" id="rejectedSuccess" />
    }
    else
    {
        <input type="hidden" id="rejectedError" />

    }
}
@if (TempData["Delete"] != null)
{
    if ((bool)TempData["Delete"] == true)
    {
        <input type="hidden" id="deleteSuccess" />
    }
    else
    {
        <input type="hidden" id="deleteError" />

    }
}
<table class="table">
    <thead>
        <tr>
            <th>
               Company Image
            </th>
            <th>
               Company Email
            </th>
            <th>
              Company Name
            </th>
            <th>
              User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="~/assets/images/Company/@item.Image"
                         alt="@item.Name" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               <a asp-action="Accept" asp-route-id="@item.Id">Accepted</a> |
               <a asp-action="Reject" asp-route-id="@item.Id">Rejected</a> |
               <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ($("#acceptedSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 Company Status Changed Is 'accepted' ") 
            }
            else if ($("#acceptedError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#rejectedSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 Company Status Changed Is 'Rejected' ")
            }
            else if ($("#rejectedError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#deleteSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 Company 'deleted' ")
            }
            else if ($("#deleteError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
}