@{
    ViewBag.Title = "Company page";
}
@model List<Company>
<section id="companies">
    <section id="titles_and_bgblue">
        <div class="blueback"></div>
        <div class="container">
            <div class="row">
                <div class="titles col-lg-12 col-md-12">
                    <div class="two_side_bridge">
                        <h3>Şirkətlər</h3>
                        <ul>
                            <li>
                                <a asp-controller="home" asp-action="index">Əsas səhifə </a>
                            </li>
                            <li>
                                <a asp-controller="company" asp-action="index">Şirkətlər</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    @foreach (Company company in Model)
                    {
                        <div class="company_card col-md-4 col-lg-3">
                            <div class="company_box">
                                <a asp-controller="company" asp-action="detail" asp-route-id="@company.Id" class="full">
                                    <div>
                                        <div class="company_images" >
                                            <div class="image">
                                                <img src="~/assets/images/Company/@company.Image"
                                                     alt="@company.Name" />
                                            </div>
                                        </div>
                                        <p>@company.Name</p>
                                        <p>Vakansiya sayı <span>@company.Vacans.Count()</span> </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            @if (ViewBag.TotalPage <= 5)
                            {
                                @for (int i = 1; i <= (int)ViewBag.TotalPage; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                    </li>
                                }
                            }
                            else
                            {
                                @if (ViewBag.CurrentPage <= 3)
                                {
                                    for (int i = 1; i <= 5; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                    <li class="page-item disabled">
                                        <a class="page-link">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage">@ViewBag.TotalPage</a>
                                    </li>
                                }
                                else if (ViewBag.CurrentPage >= (int)ViewBag.TotalPage - 2)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link">...</a>
                                    </li>
                                    for (int i = (int)ViewBag.TotalPage - 4; i <= (int)ViewBag.TotalPage; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link">...</a>
                                    </li>
                                    for (int i = ViewBag.CurrentPage - 2; i <= ViewBag.CurrentPage + 2; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                    <li class="page-item disabled">
                                        <a class="page-link">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage">@ViewBag.TotalPage</a>
                                    </li>
                                }
                            }

                            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</section>